<h1>@Titulo</h1>

@if (tarefas == null)
{
    <img src="https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif" />
    <Alerta Mensagem="Carregando...">
        <span style="color: blue">Carregando...</span>
    </Alerta>
    @* <p>Carregando...</p> *@
}
else if (!tarefas.Any())
{
    <Alerta Mensagem="Ainda não existem tarefas...">
        <div class="card">
            <div class="card-body">
                Você precisa cadastrar algumas tarefas
            </div>
        </div>
    </Alerta>
    @* <p>Ainda não existem tarefas...</p> *@
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Concluída</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tarefas)
            {
                <tr>
                    <TarefaIndividual item="item" RemoverTarefa="RemoveTarefa" />
                </tr>
            }
        </tbody>
    </table>
}

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa:</label>
        <input type="text" placeholder="Informe a tarefa" @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Registrar Tarefa</button>
    </div>
}

@code {
    [Parameter]
    public List<Tarefa> tarefas { get; set; }
    [Parameter]
    public string Titulo { get; set; }

    private string novaTarefa = "";

    private void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(novaTarefa))
        {
            tarefas.Add(new Tarefa
            {
                DataCriacao = DateTime.Now,
                Descricao = novaTarefa,
                Id = Guid.NewGuid()
            });
            novaTarefa = "";
        }
    }

    private void RemoveTarefa(Tarefa tarefa)
    {
        tarefas.Remove(tarefas.First(t => t.Id == tarefa.Id));
    }
}