@inject IJSRuntime js

<h1>@Titulo</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ação</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Concluída</th>
        </tr>
    </thead>
    <tbody>
        <ListaGenerica ListaItem="tarefas">
            <Lista Context="tarefa">
                <TarefaIndividual item="tarefa" RemoverTarefa="RemoveTarefa" />
            </Lista>
        </ListaGenerica>
    </tbody>
</table>

<Confirma @ref="confirmacao" onCancela="CancelaConfirmacao" onConfirma="RemoverTarefaConfirmacao">
    <div>Deseja excluir esta tarefa ?</div>
</Confirma>

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa:</label>
        <input type="text" placeholder="Informe a tarefa" @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Registrar Tarefa</button>
    </div>
}

@code {
    [Parameter]
    public List<Tarefa> tarefas { get; set; }

    [Parameter]
    public string Titulo { get; set; }

    private string novaTarefa = "";

    Confirma confirmacao;

    Tarefa tarefaRemover;

    private void RemoveTarefa(Tarefa tarefa)
    {
        //confirmacao.Exibir();
        //tarefaRemover = tarefa;
        //var resultado =
        // await js.InvokeAsync<bool>("confirm", "Excluir Tarefa ?");

        var resultado = ((IJSInProcessRuntime)js).Invoke<bool>("confirm", "Excluir esta tarefa ?");

        if (resultado)
        {
            tarefas.Remove(tarefa);
            //await js.InvokeVoidAsync("alert", "Tarefa excluída com sucesso");
            //await js.InvokeAsync<object>("MostraAlerta", "Ok, tarefa excluída !!!");
        }
    }

    private void RemoverTarefaConfirmacao()
    {
        tarefas.Remove(tarefaRemover);
        tarefaRemover = null;
        confirmacao.Ocultar();
    }

    private void CancelaConfirmacao()
    {
        confirmacao.Ocultar();
        tarefaRemover = null;
    }

    private void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(novaTarefa))
        {
            tarefas.Add(new Tarefa
            {
                DataCriacao = DateTime.Now,
                Descricao = novaTarefa,
                Id = Guid.NewGuid()
            });
            novaTarefa = "";
        }
    }
}